@import url(http://fonts.googleapis.com/css?family=Archivo+Black); /* Archivo Black */

#socialside {
    position: fixed;
    top: 30%;
    left: 0;
}
.social-links {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

.scli span {
    background-color: #333;
    border-radius: 0 5px 5px 0;
    height: 30px;
    position: absolute;
    right: 0;
    top:0;
}

.social-links li.facebook{
  background-image: url(../images/facebook.png);
}
.social-links li.twitter{
  background-image: url(../images/twitter.png);
}
.social-links li.rss{
  background-image: url(../images/rss.png);
}
.social-links li.yahoo{
  background-image: url(../images/yahoo.png);
}
.social-links li.google_plus{
  background-image: url(../images/google_plus.png);
}
.social-links li.youtube{
  background-image: url(../images/youtube.png);
}
.social-links li.contact{
  background-image: url(../images/contact.png);
}

.scli {
    position: relative;
    width: 132px;
    list-style: none;
    border-radius: 0 8px 8px 0;
    margin-left: -140px;
    left:0;
    cursor: pointer;

}


.scli li {
    height: 30px;
    line-height: 30px;
    margin: 5px 0;
    padding-right: 35px;
    font-family: "Archivo Black";
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    background-size: 25px;
    text-align: center;
    background-repeat: no-repeat ;
    background-position:right center;
}
